releases/1.1.1/xsd/core-public-event-ap.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema xmlns="https://data.europa.eu/m8g/xml/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="https://data.europa.eu/m8g/xml/" version="2.0.0" elementFormDefault="qualified" attributeFormDefault="unqualified" xmlns:cv="https://data.europa.eu/m8g/xml/">
  <xs:element name="ContactPoint" type="ContactPointType"/>
  <xs:element name="Participation" type="ParticipationType"/>
  <xs:element name="PublicEvent" type="PublicEventType"/>
  <xs:element name="LinguisticSystem" type="LinguisticSystemType"/>
  <xs:element name="Text" type="TextType"/>
  <xs:element name="Literal" type="LiteralType"/>
  <xs:element name="Integer" type="IntegerType"/>
  <xs:element name="Code" type="CodeType"/>
  <xs:element name="TemporalEntity" type="TemporalEntityType"/>
  <xs:element name="Address" type="AddressType"/>
  <xs:element name="Agent" type="AgentType"/>
  <xs:element name="Document" type="DocumentType"/>
  <xs:simpleType name="Literal">
    <xs:restriction base="xs:string"/>
  </xs:simpleType>
  <xs:complexType name="langstring">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="lang" type="xs:language"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ConceptType">
    <xs:simpleContent>
      <xs:extension base="xs:token">
        <xs:attribute name="ref" type="xs:IDREF"/>
        <xs:attribute name="conceptSchemeRef" type="xs:IDREF"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>
  <xs:complexType name="ContactPointType">
    <xs:sequence>
      <xs:element name="availabilityRestriction" ref="TemporalEntityType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The time during which the Contact Point is not available.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="contactPage" ref="DocumentType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A web page that could be used to reach out the Contact Point.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasEmail" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">An electronic address through which the Contact Point can be contacted.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasTelephone" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A telephone number through which the Contact Point can be contacted.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="openingHours" ref="TemporalEntityType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The time at which the Contact Point is normally available.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ContactPointRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to ContactPoint ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="ParticipationType">
    <xs:sequence>
      <xs:element name="description" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A textual explanation of the Participation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasParticipant" ref="AgentType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The Agent involved in the Participation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasTime" ref="TemporalEntityType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The association of a temporal entity (instant or interval) to any thing.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="identifier" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The unambiguous structured reference for the Participation.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="role" type="ConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The function of an Agent within a Participation.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="ParticipationRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Participation ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="PublicEventType">
    <xs:sequence>
      <xs:element name="accessibility" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Information about how the Public Event can be approached, reached or entered, in particular for people with special needs.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="address" ref="AddressType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Associates any Resource with the corresponding Address.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="audience" type="ConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The target group of people for whom the Public Event is created.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="contactPoint" ref="ContactPointType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The main contact information of the resource.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="description" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A textual explanation of the Public Event.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="eventNumber" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The sequence position of the Public Event.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="eventStatus" type="ConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en"> This property defines the overall status of the event.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="eventType" type="ConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The nature or genre of the Public Event. </xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="expectedNumberOfParticipants" type="xs:integer" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The number of participants expected to participate in the event.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="format" type="ConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A plan of organisation or arrangement of the Public Event.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasNextEvent" ref="PublicEventType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The Public Event that comes after this one.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasParticipation" ref="ParticipationType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The way how a resource is organized.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasPreviousEvent" ref="PublicEventType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The Public Event that comes before this one.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="hasTime" ref="TemporalEntityType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The association of a temporal entity (instant or interval) to any thing.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="homepage" ref="DocumentType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The website of the Public Event.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="identifier" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The unambiguous structured reference for the Public Event.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="language" ref="LinguisticSystemType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The language in which the Public Event is given.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="parentEvent" ref="PublicEventType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A relation to another Public Event that encompasses it.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="registrationPage" ref="DocumentType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A web page that provides means to attend the Public Event.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="subEvent" ref="PublicEventType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A relation towards another Public Event that belong to it.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="title" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The name given to the Public Event.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="topic" type="ConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The subject of the Public Event.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="PublicEventRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to PublicEvent ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="LinguisticSystemType">
    <xs:sequence/>
    <xs:attribute name="LinguisticSystemRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to LinguisticSystem ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TextType">
    <xs:sequence/>
    <xs:attribute name="TextRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Text ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="LiteralType">
    <xs:sequence/>
    <xs:attribute name="LiteralRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Literal ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="IntegerType">
    <xs:sequence/>
    <xs:attribute name="IntegerRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Integer ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="CodeType">
    <xs:sequence/>
    <xs:attribute name="CodeRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Code ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="TemporalEntityType">
    <xs:sequence>
      <xs:element name="description" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A  textual representation of the Temporal Entity.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="frequency" type="ConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The recurrence of an instant or period.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="TemporalEntityRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to TemporalEntity ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AddressType">
    <xs:sequence>
      <xs:element name="addressArea" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The name of a geographic area that groups Addresses.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="addressId" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A globally unique identifier for each instance of an Address.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="administrativeUnit" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A detailed administrative unit organized in a hierarchy.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="administrativeUnitLevel1" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The name of the uppermost level of the address, almost always a country.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="administrativeUnitLevel2" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The name of a secondary level/region of the address, usually a county, state or other such area that typically encompasses several localities.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="fullAddress" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The complete address written as a string.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="locatorDesignator" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A number or sequence of characters that uniquely identifies the locator within the relevant scope.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="locatorName" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Proper noun(s) applied to the real world entity identified by the locator. The locator name could be the name of the property or complex, of the building or part of the building, or it could be the name of a room inside a building.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="postOfficeBox" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A location designator for a postal delivery point at a post office, usually a number.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="postCode" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The code created and maintained for postal purposes to identify a subdivision of addresses and postal delivery points.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="postName" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A name created and maintained for postal purposes to identify a subdivision of addresses and postal delivery points.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="thoroughfare" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The name of a passage or way through from one location to another.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="AddressRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Address ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="AgentType">
    <xs:sequence>
      <xs:element name="address" ref="AddressType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">Associates any Resource with the corresponding Address.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="name" type="xs:string" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The noun given to the Agent.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="participates" ref="ParticipationType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">The participation in which an Agent is involved.</xs:documentation>
        </xs:annotation>
      </xs:element>
      <xs:element name="type" type="ConceptType" maxOccurs="unbounded" minOccurs="0">
        <xs:annotation>
          <xs:documentation xml:lang="en">A classification assigned to an Agent.</xs:documentation>
        </xs:annotation>
      </xs:element>
    </xs:sequence>
    <xs:attribute name="AgentRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Agent ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
  <xs:complexType name="DocumentType">
    <xs:sequence/>
    <xs:attribute name="DocumentRef" type="xs:IDREF">
      <xs:annotation>
        <xs:documentation xml:lang="en">Reference to Document ID</xs:documentation>
      </xs:annotation>
    </xs:attribute>
  </xs:complexType>
</xs:schema>